* {
    box-sizing: border-box;
}

body {
    min-width: 400px;
    background-color: plum;
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flower-container {
    display: block;
    margin: 15%;
}

#submit-button {
    display: none;
}

#main-header {
    text-align: center;
    margin-top: 10rem;
    font-size: 300%

}

#crush-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

#heart:hover {
  transform: scale(1.2);
}

#heart {
    margin-top: 5%;
    transition: all 1s;
    transform-origin: 50% 50%;
}

svg {
    overflow: visible;
    margin: 5px;
}

path {
    fill: red;
    stroke: black;
    stroke-width: 2px;
}

.petal {
    fill: yellow;
}