* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    min-width: 400px;
    background: linear-gradient(floralwhite 30%, plum);
    font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flower-container {
    display: block;
    margin: 15%;
}

#submit-button {
    display: none;
}

.submit-text {
    text-anchor: middle;
    font: bold xx-small 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
}

#main-header {
    text-align: center;
    margin-top: 3rem;
    font-size: 400%;
}

#crush-input {
    width: 100%;
    padding: 12px 20px;
    margin: 3rem 0;
    font-size: 150%;
}

.heart:hover {
  transform: scale(1.2);
}

.heart {
    margin-top: 5%;
    transition: all 1s;
    transform-origin: 50% 50%;
}

#restart-svg {
    position: absolute;
    left: 2%;
    bottom: 8%;
}

#submit-heart {
    fill: url(#Gradient-heart);
}

svg {
    overflow: visible;
    margin: 5px;
}

.petal {
    fill: url(#Gradient-petal);
    stroke: yellowgreen;
}

.stop1 { stop-color: red; }
.stop2 { stop-color: darkred;}
.stop3 { stop-color: palevioletred; }

#flower-center {
    fill: black;
}

.hover-text {
  position: relative;
}

.hover-text:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    color: #efa6a6;
    text-align: center;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 29%;
    margin-left: 2em
;
}

.hover-text:hover:before {
  opacity: 1;
  visibility: visible;
}

#love-booster-btn {
    position: absolute;
    right: 0;
}