* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    height: 100%;
}
body {
     min-width: 400px;
     background: linear-gradient(floralwhite 30%, plum);
     font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
     font-weight: bold;
 }

 .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.flower-container {
    display: block;
    margin: 15%;
}
#submit-button {
    display: none;
}
.submit-text {
    text-anchor: middle;
     font: bold xx-small 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', monospace;
 }

 .main-header {
     text-align: center;
     margin-top: 1rem;
     font-size: 300%;
 }

 .loves-you-text {
     text-align: center;
     margin-top: 1rem;
     margin-bottom: 1rem;
     font-size: 250%;
 }

 #crush-input {
    width: 100%;
    padding: 12px 20px;
    margin: 3rem 0;
    font-size: 150%;
}
.heart:hover {
  transform: scale(1.2);
}
.heart {
    margin-top: 5%;
    transition: all 1s;
     transform-origin: 50% 50%;
 }

 #submit-heart {
     fill: url(#Gradient-heart);
     stroke: #9C1A1C;
    filter: drop-shadow(-3px 5px 2px rgb(0 0 0 / 0.4));
}
svg {
    overflow: visible;
    margin: 5px;
}
.petal {
    fill: url(#Gradient-petal);
    stroke: yellowgreen;
    filter: drop-shadow(-5px 5px 2px rgb(0 0 0 / 0.4));
}
.stop1 { stop-color: red; }
.stop2 { stop-color: darkred;}
.stop3 { stop-color: palevioletred; }

#flower-center {
    fill: black;
    filter: drop-shadow(-5px 5px 2px rgb(0 0 0 / 0.4));
}
.hover-text {
  position: relative;
}
.hover-text:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    color: #efa6a6;
    text-align: center;
    padding: 5px 0;
     transition: opacity 1s ease-in-out;
     position: absolute;
     top: 29%;
     margin-left: 2em;
 }

 .hover-text:hover:before {
  opacity: 1;
  visibility: visible;

 }

 #restart-icon {
     position: absolute;
     left: 2%;
     bottom: 8%;
     transform: scale(1.6);
 }

 #restart-icon:hover ~ #hover-restart {
     visibility: visible;
     opacity: 1;

 }

 #hover-restart {
     position: absolute;
     color: #655f5f;
     left: 2%;
     bottom: 19%;
     visibility: hidden;
     opacity: 0;
     transition: opacity 1s ease-in-out;
 }

 #love-booster-btn {
     position: absolute;
     right: 2%;
     top: 10%;

 }

 #love-booster-btn img {
     position: relative;
     width: 120px;
     height: auto;
 }

 #love-booster-btn:hover ~ #hover-booster {
     visibility: visible;
     opacity: 1;

 }

 #hover-booster {
     position: absolute;
     color: #655f5f;
     right: 2.5%;
     top: 10%;
     visibility: hidden;
     opacity: 0;
     transition: opacity 1s ease-in-out

 }

 .heart-icon {
     position: absolute;
     background: url("/static/IMAGES/heart.png");
     pointer-events: none;
     transform: translate(-50%, -50%);
     width: 100%;
     height: 100%;
     background-size: cover;
     animation: animate 2s linear infinite;
 }
  .broken-heart-icon {
     position: absolute;
     background: url("/static/IMAGES/broken_heart.png");
     pointer-events: none;
     transform: translate(-50%, -50%);
     width: 100%;
     height: 100%;
     background-size: cover;
     animation: animate 2s linear infinite;
 }
@keyframes animate {
    0%
    {
        transform: translate(-50%, -50%);
        opacity: 1;
        filter: hue-rotate(0deg);
    }
    100%
    {
        transform: translate(-50%, -1000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}

/*slot machine*/
main{
    border-radius: 5px;
    background-color: #ec6c8a;
    margin-top: 5%;
    padding: 20px 15px;
    width: 550px;
}
section{
    margin-bottom: 25px;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    text-align: center;
    color: #FFFFFF;
}
#status{
    background-color: #8f0a22;
    font-size: 25px;
}
#Slots{
    border-radius: 15px;
    background-color: #FAFAFA;
}
#spin-button{
    background-color: #91283b;
    font-size: 25px;
}
#spin-button:hover{
    background-color: #c86868;
}
#slot1, #slot2, #slot3{
    display: inline-block;
    margin-bottom: 8px;
    background-size: 150px;
    width: 150px;
    height: 156px;
}
.love-heart{
    background-image: url("/static/IMAGES/heart_spin.gif");
}
.crying-face{
    background-image: url("/static/IMAGES/crying_face_spin.gif");
}