{% extends "layout.html" %}

{% block page_title %}Crush{% endblock %}

{% block content %}
	<main>
		<section id="status">WELCOME!</section>
		<section id="Slots">
			<div id="slot1" class="love-heart"></div>
			<div id="slot2" class="love-heart"></div>
			<div id="slot3" class="love-heart"></div>
		</section>
		<section id="spin-button">TAKE A SPIN!</section>
	</main>
     <div id="restart-icon">
         <a href="{{ url_for('restart_game') }}"><img src="/static/IMAGES/restart.png" alt="Restart button"></a>
     </div>
         <span id="hover-restart">Restart</span>
{% endblock %}