{% extends "layout.html" %}

{% block page_title %}Loves or not?{% endblock %}

{% block content %}
    <svg width="100" height="100">
        <circle r="100" cx="900" cy="450"></circle>
        <path d="M 1000,450
                c 100,30 150,30 200,0
                c -50,-30 -100,-30 -200,0"
              class="petal"
        />
        <path d="M 1000,470
                c 100,40 150,40 200,0
                c -50,-40 -100,-40 -200,0"
              class="petal"
        />
        <path d="M 800,450
                c -100,-30 -150,-30 -200,0
                c 50,30 100,30 200,0"
              class="petal"
        />
        <path d="M 800,470
                c -100,-30 -150,-30 -200,0
                c 50,30 100,30 200,0"
              class="petal"
        />
        <path d="M 900,350
                c -30,-100 -30,-150 0,-200
                c 30,50 30,100 0,200"
              class="petal"
        />
        <path d="M 900,550
                c 30,100 30,150 0,200
                c -30,-50 -30,-100 0,-200"
              class="petal"
        />
    </svg>
{% endblock %}

