{% extends "layout.html" %}

{% block page_title %}Loves or not?{% endblock %}

{% block content %}
    <h1 class="main-header"> {{ crush }} </h1>
    <a href="{{ url_for('booster_screen') }}"><img src="static/love-fire_zH2FI0Xo.gif" id="love-booster-btn"></a>
    <h1 class="loves-you-text">LOVES YOU??? Click the petals to find out</h1>
    <div class="flower-container">
        <svg width="200" height="200" id="flower">
            <defs>
              <linearGradient id="Gradient-petal">
                <stop class="stop1" offset="0%"></stop>
                <stop class="stop2" offset="50%"></stop>
                <stop class="stop3" offset="100%"></stop>
              </linearGradient>
            </defs>
            <circle r="100" cx="100" cy="100" id="flower-center"></circle>
        </svg>
    </div>
    <a href="{{ url_for('intro_screen') }}">
        <svg class="heart" id="restart-svg" xmlns="http://www.w3.org/2000/svg" width="100" height="100">
            <path d="M 10,30
                A 20,20 0,0,1 50,30
                A 20,20 0,0,1 90,30
                Q 90,60 50,90
                Q 10,60 10,30 z"
                id="restart-heart">
            </path>
            <text x="50" y="50" class="submit-text">
                Restart
            </text>
        </svg>
    </a>



{% endblock %}

