<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}Main page{% endblock %} | FlowerPower </title>
    <meta charset="UTF-8">
    <!-- http://proger.i-forge.net/The_smallest_transparent_pixel/ -->
    <link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=">
    <link rel="stylesheet" href="../static/CSS/style.css" />
    <script src="/static/JS/game.js" defer type="module"></script>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>